/*
   License: none (public domain)
*/
.wtb-player-tag-container{
	width: 1350px;
	position:relative;
}
.wtb-player-nameplate {
	float:left;
	margin:10px;
	-webkit-box-shadow: 0px 3px 5px 6px #ccc;
	border-radius:10px;
	max-width: 450px;
	padding: 5px 5px 20px 5px;
	display: block;
	border-style:solid;
	border-width:5px;
	height:100px;
	width:400px;
	position:relative;
}
.wtb-player-nameplate .faction-icon {
	vertical-align:center;
	width:100;
	height:100%;
	position:relative;
	float:left;
}
.faction-icon img{
	height:80px
}
.wtb-player-nameplate .name-plate-names{
	padding-left:5px;
	font-size:1.2em;
	font-weight:bold;
	position:relative;
	float:left;
	width:250px;
	height:100%;
}
.wtb-player-nameplate .name-plate-names img{
	position:absolute;
	top:40px;
	right:0px;
	z-index:5px;
	height:70px;
}
.wtb-player-nameplate .icons-name-plate {
	position:relative;
	float:right;
	width:50px;
	height:100%;
}
.wtb-player-nameplate .icons-name-plate img{
	height: 20px;
}
.cygnar{

}
.menoth{

}
.khador{

}
.cryx{

}
.retribution{
	background-color:#7acfd9;
	border-color:#fffcfd;
	color:#808f65;
}
.mercenaries{

}
.convergence{

}
.trollbloods{

}
.circle{

}
.skorne{

}
.legion{

}
.minions{

}

.wtb-panel{
	height:80px;
	width:80px;
	padding:5px;
	float:left;
	position:relative;
}
.wtb-panel-highlight{
	height:80px;
	width:80px;
	padding:5px;
	float:left;
	position:relative;
	background-color: red;
}
.wtb-panel img{
	height:75px;
	width:75px;
}
.wtb-header{
	width:1350px;
	height:90px;
}
.wtb-roulette-container{
	-webkit-perspective: 0;
}
.wtb-rotate{
	padding-top: 210px;
	/* Ensure that we're in 3D space */
	margin: 0 auto;
	width: 1350px;
	height: 400px;
	/* Ensure that we're in 3D space */
	-webkit-transform-style: preserve-3d;
}

.wtb-caster-container{
	position: absolute;
	width: 88px;
	height: 88px;
	color: rgba(0,0,0,0.9);
	background-color:rgba(0, 0, 0, 0.2);
	text-align:center;
}
.wtb-caster-container img{
	width: 75px;
	height: 75px;
	padding: 5px;
}
.wtb-roulette{
	margin: 0 auto;
	height: 90px;
	width: 90px;
	float:left;
	-webkit-transform-style: preserve-3d;
}

@-webkit-keyframes x-spin {
	0%    { -webkit-transform: rotateX(720deg);}
	100%    { -webkit-transform: rotateX(270deg);}

}
.wtb-spinner {
	-webkit-animation-name : x-spin;
	-webkit-animation-timing-function : ease-out;
	-webkit-animation-iteration-count : 1;
	-webkit-animation-duration : 4s;
	-webkit-animation-direction : normal;
}
#wtb-container{
	width:1250px;
}
