/*
   License: none (public domain)
*/
.cygnar{

}
.menoth{

}
.khador{

}
.cryx{

}
.retribution{

}
.mercenaries{

}
.convergence{

}
.trollbloods{

}
.circle{

}
.skorne{

}
.legion{

}
.minions{

}

.wtb-panel{
	height:80px;
	width:80px;
	padding:5px;
	float:left;
	position:relative;
}
.wtb-panel-highlight{
	height:80px;
	width:80px;
	padding:5px;
	float:left;
	position:relative;
	background-color: red;
}
.wtb-panel img{
	height:75px;
	width:75px;
}
.wtb-header{
	width:1350px;
	height:90px;
}
.wtb-roulette-container{
	-webkit-perspective: 0;
}
.wtb-rotate{
	padding-top: 210px;
	/* Ensure that we're in 3D space */
	margin: 0 auto;
	width: 1350px;
	height: 400px;
	/* Ensure that we're in 3D space */
	-webkit-transform-style: preserve-3d;
}

.wtb-caster-container{
	position: absolute;
	width: 88px;
	height: 88px;
	color: rgba(0,0,0,0.9);
	background-color:rgba(0, 0, 0, 0.2);
	text-align:center;
}
.wtb-caster-container img{
	width: 75px;
	height: 75px;
	padding: 5px;
}
.wtb-roulette{
	margin: 0 auto;
	height: 90px;
	width: 90px;
	float:left;
	-webkit-transform-style: preserve-3d;
}

@-webkit-keyframes x-spin {
	0%    { -webkit-transform: rotateX(720deg);}
	100%    { -webkit-transform: rotateX(270deg);}

}
.wtb-spinner {
	-webkit-animation-name : x-spin;
	-webkit-animation-timing-function : ease-out;
	-webkit-animation-iteration-count : 1;
	-webkit-animation-duration : 4s;
	-webkit-animation-direction : normal;
}
#wtb-container{
	width:1250px;
}